# Arquivos de compilacao
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos gerados pelo Spring Tools Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Arquivos gerados pelo IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Arquivos gerados pelo NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos gerados pelo Visual Studio Code
.vscode/

# Arquivos de log
logs/
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuracao do Maven
mvnw
mvnw.cmd
.mvn/
target/

# Arquivos de configuracao especificos do Spring Boot
application*.yml
application*.properties
